<% @flats.each do |flat| %>
  <h2><%= link_to flat.name, flat_path(flat) %></h2>
  <p><%= flat.address %></p>
  <p><%= flat.description %></p>
  <span><%= flat.price_per_night %></span>
  <span><%= flat.number_of_guests %></span>
<% end %>